.filter-section {
  height: 40vh;
  position: absolute;
  width: 100%;
  top: 7%;
  /* border: solid; */
  background-color: #f4f5f8;
  margin-bottom: 50%;
}

.filter-container {
    border-radius: 10px;
  background-color: white;
/*  border: solid; */
  position: absolute;
  top: 25%;
  left: 20%;
  padding: 8px 8px;
  box-shadow: 0 0 20px rgba(118, 118, 223, 0.2);
  font-family: "Inter", sans-serif;
  margin-top: 15px;
}

.filter-container input {
  border: none;
  padding: 5px 20px;
}

.dropdowns {
  border:none;
  padding: 15px 20px;

}
.dropdowns option {
  color: #7676e9; 
font-family: "Inter", sans-serif;
}

.filter-search-btn {
  padding: 15px 25px;
  background-color: #7676e9;
  border-radius: 5px;
}

.filter-search-btn:hover {
  background-color: #5151e4;
}

/* media queries */

.filter-icon{
  display: none;
}

@media screen and (max-width:499px) {

/*   .filter-icon{
    display: block;
    position: absolute;
    top: 40%;
    left: 50%;
  }
  .filter-icon #filter {
    width: 20px;
  }

  .filter-container{
    display: none;
  } */

  .filter-section{
    display: none;
  }
}